DOMAIN = "example.org"

GROUPS = {
  "admins" = {
    name = "Admins"
    users = ["admin"]
  }
  "parents" = {
    name = "Parents"
    users = ["admin", "admin2"]
  }
}

USERS = {
  "admin" = {
    name   = "Admin"
    email  = "admin@example.org"
  }
  "admin2" = {
    name   = "Admin2"
    email  = "admin2@example.org"
  }
}

APPLICATIONS  = {
    asf = {
      name  = "ASF"
      group = "admins"
    }
  }