services:
    freshrss:
        image: freshrss/freshrss:1.28.1
        restart: unless-stopped
        env_file: .env
        volumes:
          - ${APPDATA_PATH}/freshrss/data:/var/www/FreshRSS/data
          - ${APPDATA_PATH}/freshrss/extensions:/var/www/FreshRSS/extensions
        networks:
          - proxy
        labels:
          traefik.enable: true
          traefik.http.routers.freshrss.tls: true
          traefik.http.routers.freshrss.tls.certresolver: letsencrypt
          traefik.http.routers.freshrss.rule: Host(`${SERVICE_URL_FRESHRSS}`)
          traefik.http.routers.freshrss.entrypoints: websecure
          traefik.http.routers.freshrss.middlewares: tinyauth

          tinyauth.apps.freshrss.config.domain: ${SERVICE_URL_FRESHRSS}
          tinyauth.apps.freshrss.oauth.groups: admin

          glance.name: FreshRSS
          glance.icon: sh:freshrss
          glance.url: https://${SERVICE_URL_FRESHRSS}
          net.unraid.docker.icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/freshrss.png
          net.unraid.docker.webui: https://${SERVICE_URL_FRESHRSS}
    rssbridge:
        image: rssbridge/rss-bridge:latest
        restart: unless-stopped
        env_file: .env
        environment:
          CURL_IMPERSONATE: firefox144
        volumes:
          - ${APPDATA_PATH}/rssbrdige/config:/config
        networks:
          - proxy
        labels:
          traefik.enable: true
          traefik.http.routers.rssbridge.tls: true
          traefik.http.routers.rssbridge.tls.certresolver: letsencrypt
          traefik.http.routers.rssbridge.rule: Host(`${SERVICE_URL_BRIDGE}`)
          traefik.http.routers.rssbridge.entrypoints: websecure

          glance.name: RSS-Bridge
          glance.icon: sh:rss-bridge
          glance.url: https://${SERVICE_URL_BRIDGE}
          net.unraid.docker.icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/rss-bridge.png
          net.unraid.docker.webui: https://${SERVICE_URL_BRIDGE}

networks:
    proxy:
      external: true
