services:
  immich:
    container_name: immich
    image: ghcr.io/imagegenius/immich:2.5.2
    restart: unless-stopped
    volumes:
      - ${MNT_PATH}/photos/immich/:/photos
      - ${MNT_PATH}/photos/libraries/:/libraries
      - ${APPDATA_PATH}/immich:/config
    env_file: .env
    networks:
      - proxy
      - redis_net
      - immich
    devices:
      - "/dev/dri:/dev/dri"
    labels:
      traefik.enable: true
      traefik.http.routers.immich.tls: true
      traefik.http.routers.immich.tls.certresolver: letsencrypt
      traefik.http.routers.immich.rule: Host(`${SERVICE_URL}`)
      traefik.http.routers.immich.entrypoints: websecure

      glance.id: immich
      glance.name: Immich
      glance.icon: sh:immich
      glance.url: https://${SERVICE_URL}
      net.unraid.docker.icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/immich.png
      net.unraid.docker.webui: https://${SERVICE_URL}


  postgres_immich:
    container_name: postgres_immich
    image: ghcr.io/immich-app/postgres:16-vectorchord0.3.0-pgvectors0.3.0
    restart: unless-stopped
    volumes:
      - ${APPDATA_PATH}/postgresql_immich:/var/lib/postgresql/data
    env_file: .env
    networks:
      - immich
    labels:
      glance.parent: immich
      glance.name: Immich Postgres
      glance.icon: sh:postgresql
      net.unraid.docker.icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/postgresql.png

networks:
  immich:
  proxy:
    external: true
  redis_net:
    external: true
