services:
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin:10.11.6
    restart: unless-stopped
    volumes:
      - ${DATA_PATH}/media/:/data/media
      - ${APPDATA_PATH}/jellyfin/config:/config
      - ${APPDATA_PATH}/jellyfin/cache:/cache
    env_file: .env
    networks:
      br0:
        ipv4_address: ${JELLYFIN_IP}
      proxy:
    devices:
      - "/dev/dri/:/dev/dri/"
    labels:
      traefik.enable: true
      traefik.http.routers.jellyfin.tls: true
      traefik.http.routers.jellyfin.tls.certresolver: letsencrypt
      traefik.http.routers.jellyfin.rule: Host(`${SERVICE_URL}`)
      traefik.http.routers.jellyfin.entrypoints: websecure
      traefik.http.routers.jellyfin.service: jellyfin
      traefik.http.services.jellyfin.loadbalancer.server.port: 8096

      glance.name: Jellyfin
      glance.icon: sh:jellyfin
      glance.url: https://${SERVICE_URL}
      net.unraid.docker.icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/jellyfin.png
      net.unraid.docker.webui: http://${SERVICE_URL}
networks:
  br0:
    external: true
  proxy:
    external: true
