services:
  redis:
    container_name: redis
    image: redis:8.4.0
    restart: unless-stopped
    networks:
      - redis_net
    labels:
      glance.name: Redis
      glance.icon: sh:redis
      net.unraid.docker.icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/redis.png
networks:
  redis_net:
    external: true