services:
  tandoor:
    container_name: tandoor
    image: vabene1111/recipes:2.4.2
    restart: unless-stopped
    volumes:
      - ${APPDATA_PATH}/recipes/data:/data
      - ${APPDATA_PATH}/recipes/media:/opt/recipes/mediafiles/
    networks:
      - proxy
    env_file: .env
    labels:
      traefik.enable: true
      traefik.http.routers.tandoor.tls: true
      traefik.http.routers.tandoor.tls.certresolver: letsencrypt
      traefik.http.routers.tandoor.rule: Host(`${SERVICE_URL}`)
      traefik.http.routers.tandoor.entrypoints: websecure

      glance.name: Tandoor
      glance.icon: sh:tandoor-recipes
      glance.url: https://${SERVICE_URL}
      net.unraid.docker.icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/tandoor-recipes.png
      net.unraid.docker.webui: https://${SERVICE_URL}
networks:
  proxy:
    external: true
